.header__logo {
  width: 103.74px;
  height: 24.4px;
  margin-left: 27px;
}

@media (min-width: 600px) {
  .header__logo {
    margin: 0;
  }
}

@media (min-width: 700px) {
  .header__logo {
    width: 142px;
    height: 33px;
  }
}
