.popup__close-button {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border-style: none;
  background-image: url("../../../images/close-icon_mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  right: 0;
  top: -36px;
  transition: ease-in-out .2s;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media (min-width: 700px) {
  .popup__close-button {
    background-image: url("../../../images/close-icon_1280.svg");
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
  }
}
