.footer {
  width: calc(100% - 38px);
  margin: 0 auto;
  padding: 48px 0 36px;
}

@media (min-width: 600px) {
  .footer {
    width: calc(100% - 60px);
    padding: 67px 0 60px;
  }
}

@media (min-width: 700px) {
  .footer {
    width: calc(100% - 100px);
  }
}

@media (min-width: 940px) {
  .footer {
    width: calc(100% - 200px);
  }
}

@media (min-width: 1200px) {
  .footer {
    width: calc(100% - 400px);
  }
}
